.bid-button {
  background-color:#4285F4;
  border-radius:3px;
  border:none;
  color:#FFF;
  margin:3px;
  }
  
  .bid-input {
  width:120px;
  border-radius:2px;
  border:none;
  padding-left: 3px;
  }
  
  .bid-table {
  max-width:500px;
  margin:auto;
  padding:5px;
  }

  img.bidder-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
  
  .board-row {
  height:50px;
  margin:-1px 0 0;
  }
  
  .body {
  min-width: 500px;
  }
  
  .center {
  text-align:center;
  }

  .color-white {
    color:white;
  }

  .color-dark-red {
    color:#960f0f;
  }

  .close {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
  .close:hover {
    opacity: 0.3;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .bgcolor-success {
    background-color: #00C851;
  }

  .bgcolor-danger {
    background-color: #ff4444;
  }

  .current-bid-text {
    color: #960f0f;
    margin-left: 10px;
  }
  
  .dark {
  background-color:rgba(0,0,0,0.87);
  }
  
  .dark-half {
  background-color:rgba(0,0,0,0.5);
  }
  
  .float-right {
  float:right;
  }
  
  .game {
  display:flex;
  flex-direction:row;
  }
  
  .game-info {
  margin-left:20px;
  }
  
  .gridboard {
  background-color:#f1f1f1;
  text-align:center;
  padding-top:25px;
  padding-bottom:25px;
  }

  .hidden {
    display: hidden;
  }
  
  .kbd-navigation .square:focus {
  background:#ddd;
  }
  
  .no-border {
  border:none;
  }
  
  span.square-info {
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
  }

  .position-text {
  color:#960f0f;
  font-size:23px;
  }
  
  .square {
  background:#fff;
  width:50px;
  height:50px;
  text-align:center;
  border:1px solid #999;
  font-size:24px;
  line-height: 34px;
  margin-right:-1px;
  margin-top:-1px;
  padding:0;
  vertical-align: middle;
  position: relative;
  }
  
  .square:focus {
  outline:none;
  }
  
  .status {
  margin-bottom:10px;
  }
  
  .team-icon {
    width:32px;
    height:32px;
    text-align:center;
    font-size:24px;
    line-height:32px;
    border:1px solid #999;
    margin-right: 10px;
    display: inline-block;
  }
    
  .team-score {
    height: 34px;
    margin-top: 15px;
    display: block;
    margin-top: 15px;
  }

  .team-score-text {
    display: inline-block;
    line-height: 100%;
    color: white;
    margin-left: 15px;
    vertical-align: middle;
  }

  .team-D {
  background-color:#29b6f6;
  }
  
  .team-B {
  background-color:#9ccc65;
  }
  
  .team-A {
  background-color:#ec407a;
  }
  
  .team-C {
  background-color:#ffee58;
  }
  
  .topnav {
  overflow:hidden;
  background-color:#333;
  }
  
  .topnav a {
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  text-decoration:none;
  padding:14px 16px;
  }

  .top-alert {
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
  }

  .top-alert p {
    color: black;
    margin: 18px;
    line-height: 1.2
  }

  .top-alert a {
    display: block;
    float: right;
  }

  .topnav div {
    float: right;
    color:#f2f2f2;
    text-align: center;
    padding-left: 16px;
    overflow: visible;
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 0;
    border: none;
  }

  .topnav img {
    width: 25px;
  }
  
  .vertical-icon {
  width:30px;
  height:30px;
  float:left;
  }

  button.withdraw {
    color: #333;
    height: 32px;
    vertical-align: middle;
    line-height: normal;
    margin-right: 5px;
    font-size: 16px;
  }

  .square-select {
    background-color: #1e88e5;
  }